* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.noActive {
    display: none;
}

.exitBtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px
}

.exitBtn svg {
    position: relative;
    width: 20px;
    height: 20px;
    fill: #3e3e3e
}

.exitBtn svg > circle {
    stroke: #3e3e3e
}

.exitBtn svg > circle:hover {
    fill: #ff2238
}

.exitBtn svg > path {
    stroke-width: 3px;
    stroke: #fff;
    stop-opacity: .2
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.77);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
    z-index: 20;
}

.addModal {
    position: relative;
    z-index: 100;
}

.addTascks {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    border: solid 1px black;
    padding: 20px;
    background-color: #ffffff;
}

.dataForm {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-group {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-around;
}

.form-group label {
    padding: 5px 0;
}

.form-group button {
    width: 80%;
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.up {
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.down {
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
}

.name, .date {
    width: 100%;
}

.descr {
    width: 100%;
}

.options {
    width: 100%;
}

.headerToDo,
.name,
.date,
.descr,
.options,
.dataInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    word-break: break-all;
    font-size: 1rem;
}

.name,
.date,
.options {
    flex-direction: row;
}

.dataInfo {
    margin: 3px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

    .addModal {
        position: relative;
        z-index: 100;
    }

    .addTascks {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        width: 50%;
        border: solid 1px black;
        padding: 20px;
        background-color: #ffffff;
    }

    .dataForm {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .form-group {
        display: flex;
        padding: 10px 0;
        flex-direction: column;
        justify-content: space-around;
    }

    .form-group label {
        padding: 5px 0;
    }

    .form-group button {
        width: 30%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .up {
        width: 5px;
        height: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid red;
    }

    .down {
        width: 5px;
        height: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid red;
    }

    .name, .date {
        width: 10%;
    }

    .descr {
        width: 50%;
    }

    .options {
        width: 20%;
    }

    .headerToDo,
    .name,
    .date,
    .descr,
    .options,
    .dataInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        word-break: break-all;
    }
}

.newTodo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.newTodo div {
    display: block;
    height: 80px;
    width: 80px;
    border: none;
    background: none;
    cursor: pointer;
}

.newTodo div:focus img {
    padding: 2px;
    outline: 1px dashed #17171D;
}

.newTodo div:focus img {
    padding: 2px;
    outline: 1px dashed #17171D;
}

.newTodo div:hover img {
    transform: scale(1.1);
}

.newTodo div::-moz-focus-inner {
    border: 0;
}

.newTodo div img {
    outline: none;
    transition: transform 0.3s linear;
}



object{
    pointer-events: none;
}


.options button {
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

.options button:focus object {
    padding: 2px;
    outline: 1px dashed #17171D;
}

.options button:hover object {
    transform: scale(1.1);
}

.options button::-moz-focus-inner {
    border: 0;
}

.options button object {
    outline: none;
    transition: transform 0.3s linear;
}

.refactorLogo, .worckLogo, .pendingLogo, .compliteLogo, .newTaskLogo {
    width: 100%;
    height: 100%;
}

.pending {
    background-color: #f73149;
}

.inWork {
    background-color: #ffed0c;
}

.complite {
    background-color: #3baf1d;
}

.refactor {
    background-color: #cacac8;
}
